html{
  font-size:62.5%;
}

*,
*:before,
*:after{
  box-sizing:border-box;
}

h1,h2,h3,h4,h5,h6{
  margin:0;
}

body {
  width:100%;
  max-width:144rem;
  margin: 0;
  padding:0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin:auto;
}

.container{
  display:grid;
  grid-template-columns: minmax(auto, 9.6rem) minmax(auto, 124.8rem) minmax(auto, 9.6rem);
  grid-template-rows: 5.6rem 38.2rem 6.4rem 89.6rem 50.4rem 89.6rem 61.4rem;
  grid-template-areas:". header ."
                      ". delivery ."
                      ". main ."
                      "burgers burgers burgers";
}
